.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  hr {
    opacity: 0.1;
    border: 1px solid var(--body);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 25rem;
    width: 100%;
  }

  strong {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    font-weight: 700;
    font-size: 3rem;
  }

  time {
    font-size: 0.875rem;
    align-items: center;
    color: var(--info);
    margin-right: 1.5rem;
  }

  svg {
    margin-right: 0.5rem;
  }
}

.postInfo {
  width: 100%;
  margin-top: 1.5rem;

  span {
    font-size: 0.875rem;
    align-items: center;
    color: var(--info);
    margin-right: 1.5rem;
  }

  .editedAt {
    display: block;
    margin-top: 1rem;
    font-style: italic;
  }
}

.body {
  margin-bottom: 5rem;
  strong {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: justify;
    margin-bottom: 2rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 5rem;

  p {
    color: var(--heading);
    font-size: 1.125rem;
    cursor: pointer;

    p {
      color: var(--highlight);
      font-size: 1.125rem;
      font-size: 1rem;
      font-weight: 600;
    }

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
